<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

footer {
    background-color: #33383c;
    padding: 30px 0px;
    margin-top: 100px;
    width: auto;
    bottom:0;
    
}	       

footer .logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
    bottom:0;
    margin-top: 20px;
}

footer .address span, 
footer .menu span {
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding: 10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
footer .address li a{
    color: #FFF;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 14px;
}
footer .menu p {
	color: #FFF;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}
footer .address li, 
footer .menu li {
    margin: 20px 0px;
    list-style: none;
}

footer .address li a:hover{
    color: #0080ff;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

footer .address .fa {
    color: #0080ff;
    margin-right: 10px;
    font-size: 18px;
}

</style>
</head>
<body>



<footer>
 <div class="container" style="font-family: 'Roboto', sans-serif;">
   <div class="row">
            <div class="col-md- col-sm- col mt-3">
              <center>
              <span class="logo text-center">
              	<img src="img/footer.png" width="200px" height="100px"><br>
                CMPMDC</span>
                </center>
            </div>
            
            <div class="col-md- col-sm- col">
                <ul class="menu">
                     <span>About</span>    
                     <p>
                     	Bacoor Pulic Market Management 
                     	System aims to helps the employees 
                     	of Cavite Merchant Property 
                     	Management and Development
                     	Corporation(CMPMDC) to monitor the
                     	Public Market of Zapote Bacoor.
                     </p>
                 </ul>
            </div>
       
            <div class="col-md- col-sm- col">
              <ul class="address">
                <span>Contact</span>       
                <li>
                   <i class="fa fa-phone" aria-hidden="true"></i> 
                   <a href="#">Phone</a>
                </li>
                <li>
                   <i class="fa fa-map-marker" aria-hidden="true"></i> 
                   <a href="#">Adress</a>
                </li> 
                <li>
                   <i class="fa fa-envelope" aria-hidden="true"></i> 
                   <a href="#">Email</a>
                </li> 
               </ul>
            </div>
        </div> 
    </div>
</footer>
